@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-snap-type: y mandatory;
}

.app{
  height: 100vh;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
align-items: center;
}

.wideness{
  width: 98%;
  max-width: 500px;
}

.app_video__container{
  position: relative;
  height: 100vh;
  /* height: 800px; */
  border-radius: 20px;
  width: 98%;
  max-width: 500px;
  overflow: scroll;
  scroll-snap-type: y mandatory; 
}

/* hide scroll bar for chrome safari and opera
.app_video__container::webkit-scrollbar{
  display: none;
}
/* hide for ie, edge and firefox *-/
.app_video__container{
  -ms-overflow-style: none;
  scrollbar-width: none;
} */

.app_video__container {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll; 
}

.app_video__container::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}